In [1]:
from pyspark.sql import SparkSession

spark = SparkSession.\
        builder.\
        appName("จาก raw data สู่ Disk").\
        master("spark://spark-master:7077").\
        config("spark.executor.memory", "2000m").\
        config("spark.executor.cores", "2").\
        config("spark.cores.max", "6").\
        getOrCreate()

23/01/30 14:50:43 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [2]:
from pyspark.sql.types import StructType, StructField, StringType, DoubleType, IntegerType, MapType

# Create a schema for the dataframe
schema = StructType([
    StructField("business_id", StringType(), True),
    StructField("name", StringType(), True),
    StructField("address", StringType(), True),
    StructField("city", StringType(), True),
    StructField("state", StringType(), True),
    StructField("postal_code", StringType(), True),
    StructField("latitude", DoubleType(), True),
    StructField("longitude", DoubleType(), True),
    StructField("stars", DoubleType(), True),
    StructField("review_count", IntegerType(), True),
    StructField("is_open", IntegerType(), True),
    StructField("attributes", MapType(StringType(), StringType()), True),
    StructField("categories", StringType(), True),
    StructField("hours", MapType(StringType(), StringType()), True)
])

# Read the JSON text into a dataframe
df = spark.read.json('yelp_academic_dataset_business.json', schema=schema)

# Show the dataframe
df.show()

+--------------------+--------------------+--------------------+--------------+-----+-----------+-------------+--------------+-----+------------+-------+--------------------+--------------------+--------------------+
|         business_id|                name|             address|          city|state|postal_code|     latitude|     longitude|stars|review_count|is_open|          attributes|          categories|               hours|
+--------------------+--------------------+--------------------+--------------+-----+-----------+-------------+--------------+-----+------------+-------+--------------------+--------------------+--------------------+
|Pns2l4eNsfO8kk83d...|Abby Rappoport, L...|1616 Chapala St, ...| Santa Barbara|   CA|      93101|   34.4266787|  -119.7111968|  5.0|           7|      0|[ByAppointmentOnl...|Doctors, Traditio...|                null|
|mpf3x-BjTdTEA3yCZ...|       The UPS Store|87 Grasso Plaza S...|        Affton|   MO|      63123|    38.551126|    -90.335695|  3.0|          15|      1|[BusinessAcceptsC...|Shipping Centers,...|[Monday -> 0:0-0:...|
|tUFrWirKiKi_TAnsV...|              Target|5255 E Broadway Blvd|        Tucson|   AZ|      85711|    32.223236|   -110.880452|  3.5|          22|      0|[BikeParking -> T...|Department Stores...|[Monday -> 8:0-22...|
|MTSW4McQd7CbVtyjq...|  St Honore Pastries|         935 Race St|  Philadelphia|   PA|      19107|   39.9555052|   -75.1555641|  4.0|          80|      1|[RestaurantsDeliv...|Restaurants, Food...|[Monday -> 7:0-20...|
|mWMc6_wTdE0EUBKIG...|Perkiomen Valley ...|       101 Walnut St|    Green Lane|   PA|      18054|   40.3381827|   -75.4716585|  4.5|          13|      1|[BusinessAcceptsC...|Brewpubs, Breweri...|[Wednesday -> 14:...|
|CF33F8-E6oudUQ46H...|      Sonic Drive-In|       615 S Main St|  Ashland City|   TN|      37015|    36.269593|    -87.058943|  2.0|           6|      1|[BusinessParking ...|Burgers, Fast Foo...|[Monday -> 0:0-0:...|
|n_0UpQx1hsNbnPUSl...|     Famous Footwear|8522 Eager Road, ...|     Brentwood|   MO|      63144|    38.627695|    -90.340465|  2.5|          13|      1|[BusinessAcceptsC...|Sporting Goods, F...|[Monday -> 0:0-0:...|
|qkRM_2X51Yqxk3btl...|      Temple Beth-El|  400 Pasadena Ave S|St. Petersburg|   FL|      33707|     27.76659|    -82.732983|  3.5|           5|      1|                null|Synagogues, Relig...|[Monday -> 9:0-17...|
|k0hlBqXX-Bt0vf1op...|Tsevi's Pub And G...|   8025 Mackenzie Rd|        Affton|   MO|      63123|   38.5651648|   -90.3210868|  3.0|          19|      0|[Caters -> True, ...|Pubs, Restaurants...|                null|
|bBDDEgkFA1Otx9Lfe...|      Sonic Drive-In| 2312 Dickerson Pike|     Nashville|   TN|      37207|   36.2081024|   -86.7681696|  1.5|          10|      1|[RestaurantsAttir...|Ice Cream & Froze...|[Monday -> 0:0-0:...|
|UJsufbvfyfONHeWdv...|           Marshalls|21705 Village Lak...| Land O' Lakes|   FL|      34639|28.1904587953|-82.4573802199|  3.5|           6|      1|[RestaurantsPrice...|Department Stores...|[Monday -> 9:30-2...|
|eEOYSgkmpB90uNA7l...|Vietnamese Food T...|                    |     Tampa Bay|   FL|      33602|   27.9552692|   -82.4563199|  4.0|          10|      1|[Alcohol -> 'none...|Vietnamese, Food,...|[Monday -> 11:0-1...|
|il_Ro8jwPlHresjw9...|             Denny's|        8901 US 31 S|  Indianapolis|   IN|      46227|39.6371332838| -86.127217412|  2.5|          28|      1|[RestaurantsReser...|American (Traditi...|[Monday -> 6:0-22...|
|jaxMSoInw8Poo3XeM...|        Adams Dental|   15 N Missouri Ave|    Clearwater|   FL|      33755|    27.966235|    -82.787412|  5.0|          10|      1|[ByAppointmentOnl...|General Dentistry...|[Monday -> 7:30-1...|
|0bPLkL0QhhPO5kt1_...|Zio's Italian Market|       2575 E Bay Dr|         Largo|   FL|      33771|   27.9161159|   -82.7604608|  4.5|         100|      0|[OutdoorSeating -...|Food, Delis, Ital...|[Monday -> 10:0-1...|
|MUTTqe8uqyMdBl186...|            Tuna Bar|         205 Race St|  Philadelphia|   PA|      19106|    39.953949|   -75.1432262|  4.0|         245|      1|[RestaurantsReser...|Sushi Bars, Resta...|[Tuesday -> 13:30...|
|rBmpy_Y1UbBx8ggHl...|Arizona Truck Out...|     625 N Stone Ave|        Tucson|   AZ|      85705|   32.2298719|  -110.9723419|  4.5|          10|      1|[DriveThru -> Fal...|Automotive, Auto ...|[Monday -> 0:0-0:...|
|M0XSSHqrASOnhgbWD...|      Herb Import Co|        712 Adams St|   New Orleans|   LA|      70118|29.9414679565| -90.129952757|  4.0|           5|      1|[BusinessParking ...|Vape Shops, Tobac...|[Monday -> 10:0-1...|
|8wGISYjYkE2tSqn3c...|    Nifty Car Rental|     1241 Airline Dr|        Kenner|   LA|      70062|    29.981183|   -90.2540123|  3.5|          14|      1|                null|Automotive, Car R...|[Monday -> 8:0-17...|
|ROeacJQwBeh05Rqg7...|                 BAP|       1224 South St|  Philadelphia|   PA|      19147|    39.943223|    -75.162568|  4.5|         205|      1|[NoiseLevel -> u'...| Korean, Restaurants|[Monday -> 11:30-...|
+--------------------+--------------------+--------------------+--------------+-----+-----------+-------------+--------------+-----+------------+-------+--------------------+--------------------+--------------------+
only showing top 20 rows

In [3]:
df.take(5)

[Row(business_id='Pns2l4eNsfO8kk83dixA6A', name='Abby Rappoport, LAC, CMQ', address='1616 Chapala St, Ste 2', city='Santa Barbara', state='CA', postal_code='93101', latitude=34.4266787, longitude=-119.7111968, stars=5.0, review_count=7, is_open=0, attributes={'ByAppointmentOnly': 'True'}, categories='Doctors, Traditional Chinese Medicine, Naturopathic/Holistic, Acupuncture, Health & Medical, Nutritionists', hours=None),
 Row(business_id='mpf3x-BjTdTEA3yCZrAYPw', name='The UPS Store', address='87 Grasso Plaza Shopping Center', city='Affton', state='MO', postal_code='63123', latitude=38.551126, longitude=-90.335695, stars=3.0, review_count=15, is_open=1, attributes={'BusinessAcceptsCreditCards': 'True'}, categories='Shipping Centers, Local Services, Notaries, Mailbox Centers, Printing Services', hours={'Tuesday': '8:0-18:30', 'Monday': '0:0-0:0', 'Thursday': '8:0-18:30', 'Friday': '8:0-18:30', 'Wednesday': '8:0-18:30', 'Saturday': '8:0-14:0'}),
 Row(business_id='tUFrWirKiKi_TAnsVWINQQ', name='Target', address='5255 E Broadway Blvd', city='Tucson', state='AZ', postal_code='85711', latitude=32.223236, longitude=-110.880452, stars=3.5, review_count=22, is_open=0, attributes={'BikeParking': 'True', 'BusinessAcceptsCreditCards': 'True', 'RestaurantsDelivery': 'False', 'BusinessParking': "{'garage': False, 'street': False, 'validated': False, 'lot': True, 'valet': False}", 'RestaurantsPriceRange2': '2', 'RestaurantsReservations': 'False', 'WheelchairAccessible': 'True', 'RestaurantsTakeOut': 'False', 'Caters': 'False', 'HappyHour': 'False', 'ByAppointmentOnly': 'False', 'CoatCheck': 'False', 'HasTV': 'False', 'WiFi': "u'no'", 'DogsAllowed': 'False', 'OutdoorSeating': 'False'}, categories='Department Stores, Shopping, Fashion, Home & Garden, Electronics, Furniture Stores', hours={'Monday': '8:0-22:0', 'Thursday': '8:0-22:0', 'Friday': '8:0-23:0', 'Sunday': '8:0-22:0', 'Wednesday': '8:0-22:0', 'Tuesday': '8:0-22:0', 'Saturday': '8:0-23:0'}),
 Row(business_id='MTSW4McQd7CbVtyjqoe9mw', name='St Honore Pastries', address='935 Race St', city='Philadelphia', state='PA', postal_code='19107', latitude=39.9555052, longitude=-75.1555641, stars=4.0, review_count=80, is_open=1, attributes={'BikeParking': 'True', 'RestaurantsDelivery': 'False', 'BusinessAcceptsCreditCards': 'False', 'ByAppointmentOnly': 'False', 'Caters': 'True', 'BusinessParking': "{'garage': False, 'street': True, 'validated': False, 'lot': False, 'valet': False}", 'RestaurantsPriceRange2': '1', 'Alcohol': "u'none'", 'RestaurantsTakeOut': 'True', 'WiFi': "u'free'", 'OutdoorSeating': 'False'}, categories='Restaurants, Food, Bubble Tea, Coffee & Tea, Bakeries', hours={'Monday': '7:0-20:0', 'Thursday': '7:0-20:0', 'Friday': '7:0-21:0', 'Sunday': '7:0-21:0', 'Wednesday': '7:0-20:0', 'Tuesday': '7:0-20:0', 'Saturday': '7:0-21:0'}),
 Row(business_id='mWMc6_wTdE0EUBKIGXDVfA', name='Perkiomen Valley Brewery', address='101 Walnut St', city='Green Lane', state='PA', postal_code='18054', latitude=40.3381827, longitude=-75.4716585, stars=4.5, review_count=13, is_open=1, attributes={'BikeParking': 'True', 'BusinessAcceptsCreditCards': 'True', 'Caters': 'False', 'BusinessParking': "{'garage': None, 'street': None, 'validated': None, 'lot': True, 'valet': False}", 'GoodForKids': 'True', 'WheelchairAccessible': 'True', 'RestaurantsTakeOut': 'True'}, categories='Brewpubs, Breweries, Food', hours={'Thursday': '16:0-22:0', 'Friday': '12:0-22:0', 'Sunday': '12:0-18:0', 'Wednesday': '14:0-22:0', 'Saturday': '12:0-22:0'})]

# Hour Split

In [4]:
from pyspark.sql.functions import explode, col
# Explode the nested hours column
hours_df = df.select("business_id", explode("hours").alias("day", "hours"))

In [5]:
hours_df.show(truncate=False)

+----------------------+---------+---------+
|business_id           |day      |hours    |
+----------------------+---------+---------+
|mpf3x-BjTdTEA3yCZrAYPw|Monday   |0:0-0:0  |
|mpf3x-BjTdTEA3yCZrAYPw|Tuesday  |8:0-18:30|
|mpf3x-BjTdTEA3yCZrAYPw|Wednesday|8:0-18:30|
|mpf3x-BjTdTEA3yCZrAYPw|Thursday |8:0-18:30|
|mpf3x-BjTdTEA3yCZrAYPw|Friday   |8:0-18:30|
|mpf3x-BjTdTEA3yCZrAYPw|Saturday |8:0-14:0 |
|tUFrWirKiKi_TAnsVWINQQ|Monday   |8:0-22:0 |
|tUFrWirKiKi_TAnsVWINQQ|Tuesday  |8:0-22:0 |
|tUFrWirKiKi_TAnsVWINQQ|Wednesday|8:0-22:0 |
|tUFrWirKiKi_TAnsVWINQQ|Thursday |8:0-22:0 |
|tUFrWirKiKi_TAnsVWINQQ|Friday   |8:0-23:0 |
|tUFrWirKiKi_TAnsVWINQQ|Saturday |8:0-23:0 |
|tUFrWirKiKi_TAnsVWINQQ|Sunday   |8:0-22:0 |
|MTSW4McQd7CbVtyjqoe9mw|Monday   |7:0-20:0 |
|MTSW4McQd7CbVtyjqoe9mw|Tuesday  |7:0-20:0 |
|MTSW4McQd7CbVtyjqoe9mw|Wednesday|7:0-20:0 |
|MTSW4McQd7CbVtyjqoe9mw|Thursday |7:0-20:0 |
|MTSW4McQd7CbVtyjqoe9mw|Friday   |7:0-21:0 |
|MTSW4McQd7CbVtyjqoe9mw|Saturday |7:0-21:0 |
|MTSW4McQd7CbVtyjqoe9mw|Sunday   |7:0-21:0 |
+----------------------+---------+---------+
only showing top 20 rows

In [6]:
# Join the two dataframes on business_id
result_df = df.join(hours_df, "business_id")

In [7]:
result_df.printSchema()

root
 |-- business_id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- address: string (nullable = true)
 |-- city: string (nullable = true)
 |-- state: string (nullable = true)
 |-- postal_code: string (nullable = true)
 |-- latitude: double (nullable = true)
 |-- longitude: double (nullable = true)
 |-- stars: double (nullable = true)
 |-- review_count: integer (nullable = true)
 |-- is_open: integer (nullable = true)
 |-- attributes: map (nullable = true)
 |    |-- key: string
 |    |-- value: string (valueContainsNull = true)
 |-- categories: string (nullable = true)
 |-- hours: map (nullable = true)
 |    |-- key: string
 |    |-- value: string (valueContainsNull = true)
 |-- day: string (nullable = false)
 |-- hours: string (nullable = true)

In [8]:
df.describe().toPandas().transpose()

,0,1,2,3,4
summary,count,mean,stddev,min,max
business_id,150346,None,None,---kPU91CF4Lq2-WlRu9Lw,zzyx5x0Z7xXWWvWnZFuxlQ
name,150346,1252.4,811.1275005954502,Grow Academy,​​Transformational Abdominal Massage by Jada D...
address,150346,7369.333333333333,8738.777641447725,,​185 E State St
city,150346,None,None,AB Edmonton,​Lithia
state,150346,None,None,AB,XMS
postal_code,150346,45177.81755426108,26395.882085856494,,T9E 0V3
latitude,150346,36.67115006414579,5.872758917014046,27.555127,53.6791969
longitude,150346,-89.3573394897143,14.91850167993061,-120.095137,-73.2004570502
stars,150346,3.5967235576603303,0.9744207509201366,1.0,5.0
review_count,150346,44.86656113232144,121.12013570117085,5,7568
is_open,150346,0.7961502135075094,0.4028599390900635,0,1
categories,150243,None,None,"3D Printing, Local Services, Hobby Shops, Shop...","Zoos, Tours, Arts & Entertainment, Hotels & Tr..."

In [9]:
df.select('business_id').distinct().count()

150346

In [10]:
df.filter(col('hours').isNull()).count()

23223

In [11]:
result_df.select('business_id').distinct().count()

127123

In [12]:
result_df.orderBy('business_id').limit(10).toPandas().transpose()

,0,1,2,3,4,5,6,7,8,9
business_id,---kPU91CF4Lq2-WlRu9Lw,---kPU91CF4Lq2-WlRu9Lw,---kPU91CF4Lq2-WlRu9Lw,---kPU91CF4Lq2-WlRu9Lw,---kPU91CF4Lq2-WlRu9Lw,---kPU91CF4Lq2-WlRu9Lw,--7jw19RH9JKXgFohspgQw,--7jw19RH9JKXgFohspgQw,--7jw19RH9JKXgFohspgQw,--7jw19RH9JKXgFohspgQw
name,Frankie's Raw Bar,Frankie's Raw Bar,Frankie's Raw Bar,Frankie's Raw Bar,Frankie's Raw Bar,Frankie's Raw Bar,McIlwain Family Dentistry & Ahrens Orthodontics,McIlwain Family Dentistry & Ahrens Orthodontics,McIlwain Family Dentistry & Ahrens Orthodontics,McIlwain Family Dentistry & Ahrens Orthodontics
address,4903 State Rd 54,4903 State Rd 54,4903 State Rd 54,4903 State Rd 54,4903 State Rd 54,4903 State Rd 54,"26908 Foggy Creek Rd, Ste 101","26908 Foggy Creek Rd, Ste 101","26908 Foggy Creek Rd, Ste 101","26908 Foggy Creek Rd, Ste 101"
city,New Port Richey,New Port Richey,New Port Richey,New Port Richey,New Port Richey,New Port Richey,Wesley Chapel,Wesley Chapel,Wesley Chapel,Wesley Chapel
state,FL,FL,FL,FL,FL,FL,FL,FL,FL,FL
postal_code,34652,34652,34652,34652,34652,34652,33544,33544,33544,33544
latitude,28.217288,28.217288,28.217288,28.217288,28.217288,28.217288,28.189156,28.189156,28.189156,28.189156
longitude,-82.733344,-82.733344,-82.733344,-82.733344,-82.733344,-82.733344,-82.371421,-82.371421,-82.371421,-82.371421
stars,4.5,4.5,4.5,4.5,4.5,4.5,4.0,4.0,4.0,4.0
review_count,24,24,24,24,24,24,13,13,13,13
is_open,1,1,1,1,1,1,1,1,1,1
attributes,"{'BikeParking': 'True', 'BusinessAcceptsCredit...","{'BikeParking': 'True', 'BusinessAcceptsCredit...","{'BikeParking': 'True', 'BusinessAcceptsCredit...","{'BikeParking': 'True', 'BusinessAcceptsCredit...","{'BikeParking': 'True', 'BusinessAcceptsCredit...","{'BikeParking': 'True', 'BusinessAcceptsCredit...","{'ByAppointmentOnly': 'True', 'BusinessAccepts...","{'ByAppointmentOnly': 'True', 'BusinessAccepts...","{'ByAppointmentOnly': 'True', 'BusinessAccepts...","{'ByAppointmentOnly': 'True', 'BusinessAccepts..."
categories,"Seafood, Restaurants, Latin American, Food, Fo...","Seafood, Restaurants, Latin American, Food, Fo...","Seafood, Restaurants, Latin American, Food, Fo...","Seafood, Restaurants, Latin American, Food, Fo...","Seafood, Restaurants, Latin American, Food, Fo...","Seafood, Restaurants, Latin American, Food, Fo...","Orthodontists, Health & Medical, General Denti...","Orthodontists, Health & Medical, General Denti...","Orthodontists, Health & Medical, General Denti...","Orthodontists, Health & Medical, General Denti..."
hours,"{'Tuesday': '11:0-21:0', 'Monday': '0:0-0:0', ...","{'Tuesday': '11:0-21:0', 'Monday': '0:0-0:0', ...","{'Tuesday': '11:0-21:0', 'Monday': '0:0-0:0', ...","{'Tuesday': '11:0-21:0', 'Monday': '0:0-0:0', ...","{'Tuesday': '11:0-21:0', 'Monday': '0:0-0:0', ...","{'Tuesday': '11:0-21:0', 'Monday': '0:0-0:0', ...","{'Tuesday': '7:0-17:30', 'Monday': '7:0-17:30'...","{'Tuesday': '7:0-17:30', 'Monday': '7:0-17:30'...","{'Tuesday': '7:0-17:30', 'Monday': '7:0-17:30'...","{'Tuesday': '7:0-17:30', 'Monday': '7:0-17:30'..."
day,Tuesday,Wednesday,Friday,Thursday,Monday,Saturday,Monday,Thursday,Wednesday,Tuesday
hours,11:0-21:0,11:0-21:0,11:0-22:0,11:0-21:0,0:0-0:0,11:0-22:0,7:0-17:30,7:0-17:30,7:0-17:30,7:0-17:30

In [13]:
result_df.take(1)

[Row(business_id='-0iIxySkp97WNlwK66OGWg', name='Truckee Bagel Company - Midtown', address='538 S Virginia St, Ste B', city='Reno', state='NV', postal_code='89501', latitude=39.5202401, longitude=-119.810022, stars=3.5, review_count=219, is_open=1, attributes={'BikeParking': 'True', 'BusinessParking': "{'garage': False, 'street': False, 'validated': False, 'lot': True, 'valet': False}", 'RestaurantsGoodForGroups': 'True', 'RestaurantsPriceRange2': '1', 'Alcohol': "'none'", 'RestaurantsTakeOut': 'True', 'ByAppointmentOnly': 'False', 'Caters': 'True', 'RestaurantsAttire': "'casual'", 'GoodForKids': 'True', 'HasTV': 'False', 'BusinessAcceptsCreditCards': 'True', 'RestaurantsDelivery': 'True', 'BusinessAcceptsBitcoin': 'False', 'NoiseLevel': "u'average'", 'RestaurantsTableService': 'False', 'RestaurantsReservations': 'False', 'WheelchairAccessible': 'True', 'HappyHour': 'False', 'BYOB': 'False', 'Ambience': "{'touristy': False, 'hipster': False, 'romantic': False, 'divey': False, 'intimate': False, 'trendy': False, 'upscale': False, 'classy': False, 'casual': True}", 'DogsAllowed': 'False', 'WiFi': "'free'", 'GoodForMeal': "{'dessert': False, 'latenight': False, 'lunch': False, 'dinner': False, 'brunch': False, 'breakfast': True}", 'OutdoorSeating': 'True'}, categories='Caterers, Sandwiches, Coffee & Tea, Bagels, Food, Event Planning & Services, Restaurants', hours={'Monday': '0:0-0:0', 'Thursday': '6:45-14:30', 'Friday': '6:45-15:30', 'Sunday': '6:45-15:30', 'Wednesday': '6:45-14:30', 'Tuesday': '6:45-14:30', 'Saturday': '6:45-15:30'}, day='Monday', hours='0:0-0:0')]

# Attribute Split

In [14]:
from pyspark.sql.functions import explode, col
# Explode the nested attributes column
attributes_df = df.select("business_id", explode("attributes").alias("businessAttrType", "businessAttrValue"))

In [15]:
attributes_df.count()

1206820

In [16]:
attributes_df.orderBy('business_id').limit(30).toPandas().transpose()

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
business_id,---kPU91CF4Lq2-WlRu9Lw,---kPU91CF4Lq2-WlRu9Lw,---kPU91CF4Lq2-WlRu9Lw,---kPU91CF4Lq2-WlRu9Lw,---kPU91CF4Lq2-WlRu9Lw,---kPU91CF4Lq2-WlRu9Lw,---kPU91CF4Lq2-WlRu9Lw,---kPU91CF4Lq2-WlRu9Lw,---kPU91CF4Lq2-WlRu9Lw,---kPU91CF4Lq2-WlRu9Lw,...,--0iUa4sNDFiZFrAdIWhZQ,--0iUa4sNDFiZFrAdIWhZQ,--0iUa4sNDFiZFrAdIWhZQ,--0iUa4sNDFiZFrAdIWhZQ,--0iUa4sNDFiZFrAdIWhZQ,--0iUa4sNDFiZFrAdIWhZQ,--0iUa4sNDFiZFrAdIWhZQ,--0iUa4sNDFiZFrAdIWhZQ,--30_8IhuyMHbSOcNWd6DQ,--30_8IhuyMHbSOcNWd6DQ
businessAttrType,WheelchairAccessible,BusinessAcceptsBitcoin,Ambience,RestaurantsTakeOut,BikeParking,OutdoorSeating,Alcohol,Corkage,HasTV,DogsAllowed,...,RestaurantsPriceRange2,GoodForKids,BusinessAcceptsCreditCards,RestaurantsReservations,RestaurantsAttire,RestaurantsDelivery,RestaurantsTakeOut,RestaurantsGoodForGroups,GoodForKids,BusinessAcceptsCreditCards
businessAttrValue,True,False,"{'touristy': False, 'hipster': False, 'romanti...",True,True,True,u'none',False,False,True,...,1,True,False,True,'casual',False,True,True,True,True

In [17]:
# Join the two dataframes on business_id
result_df = df.join(attributes_df, "business_id")

In [18]:
result_df.printSchema()

root
 |-- business_id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- address: string (nullable = true)
 |-- city: string (nullable = true)
 |-- state: string (nullable = true)
 |-- postal_code: string (nullable = true)
 |-- latitude: double (nullable = true)
 |-- longitude: double (nullable = true)
 |-- stars: double (nullable = true)
 |-- review_count: integer (nullable = true)
 |-- is_open: integer (nullable = true)
 |-- attributes: map (nullable = true)
 |    |-- key: string
 |    |-- value: string (valueContainsNull = true)
 |-- categories: string (nullable = true)
 |-- hours: map (nullable = true)
 |    |-- key: string
 |    |-- value: string (valueContainsNull = true)
 |-- businessAttrType: string (nullable = false)
 |-- businessAttrValue: string (nullable = true)

In [19]:
result_df.count()

1206820

In [20]:
result_df.orderBy('business_id').limit(10).toPandas().transpose()

,0,1,2,3,4,5,6,7,8,9
business_id,---kPU91CF4Lq2-WlRu9Lw,---kPU91CF4Lq2-WlRu9Lw,---kPU91CF4Lq2-WlRu9Lw,---kPU91CF4Lq2-WlRu9Lw,---kPU91CF4Lq2-WlRu9Lw,---kPU91CF4Lq2-WlRu9Lw,---kPU91CF4Lq2-WlRu9Lw,---kPU91CF4Lq2-WlRu9Lw,---kPU91CF4Lq2-WlRu9Lw,---kPU91CF4Lq2-WlRu9Lw
name,Frankie's Raw Bar,Frankie's Raw Bar,Frankie's Raw Bar,Frankie's Raw Bar,Frankie's Raw Bar,Frankie's Raw Bar,Frankie's Raw Bar,Frankie's Raw Bar,Frankie's Raw Bar,Frankie's Raw Bar
address,4903 State Rd 54,4903 State Rd 54,4903 State Rd 54,4903 State Rd 54,4903 State Rd 54,4903 State Rd 54,4903 State Rd 54,4903 State Rd 54,4903 State Rd 54,4903 State Rd 54
city,New Port Richey,New Port Richey,New Port Richey,New Port Richey,New Port Richey,New Port Richey,New Port Richey,New Port Richey,New Port Richey,New Port Richey
state,FL,FL,FL,FL,FL,FL,FL,FL,FL,FL
postal_code,34652,34652,34652,34652,34652,34652,34652,34652,34652,34652
latitude,28.217288,28.217288,28.217288,28.217288,28.217288,28.217288,28.217288,28.217288,28.217288,28.217288
longitude,-82.733344,-82.733344,-82.733344,-82.733344,-82.733344,-82.733344,-82.733344,-82.733344,-82.733344,-82.733344
stars,4.5,4.5,4.5,4.5,4.5,4.5,4.5,4.5,4.5,4.5
review_count,24,24,24,24,24,24,24,24,24,24
is_open,1,1,1,1,1,1,1,1,1,1
attributes,"{'BikeParking': 'True', 'BusinessAcceptsCredit...","{'BikeParking': 'True', 'BusinessAcceptsCredit...","{'BikeParking': 'True', 'BusinessAcceptsCredit...","{'BikeParking': 'True', 'BusinessAcceptsCredit...","{'BikeParking': 'True', 'BusinessAcceptsCredit...","{'BikeParking': 'True', 'BusinessAcceptsCredit...","{'BikeParking': 'True', 'BusinessAcceptsCredit...","{'BikeParking': 'True', 'BusinessAcceptsCredit...","{'BikeParking': 'True', 'BusinessAcceptsCredit...","{'BikeParking': 'True', 'BusinessAcceptsCredit..."
categories,"Seafood, Restaurants, Latin American, Food, Fo...","Seafood, Restaurants, Latin American, Food, Fo...","Seafood, Restaurants, Latin American, Food, Fo...","Seafood, Restaurants, Latin American, Food, Fo...","Seafood, Restaurants, Latin American, Food, Fo...","Seafood, Restaurants, Latin American, Food, Fo...","Seafood, Restaurants, Latin American, Food, Fo...","Seafood, Restaurants, Latin American, Food, Fo...","Seafood, Restaurants, Latin American, Food, Fo...","Seafood, Restaurants, Latin American, Food, Fo..."
hours,"{'Tuesday': '11:0-21:0', 'Monday': '0:0-0:0', ...","{'Tuesday': '11:0-21:0', 'Monday': '0:0-0:0', ...","{'Tuesday': '11:0-21:0', 'Monday': '0:0-0:0', ...","{'Tuesday': '11:0-21:0', 'Monday': '0:0-0:0', ...","{'Tuesday': '11:0-21:0', 'Monday': '0:0-0:0', ...","{'Tuesday': '11:0-21:0', 'Monday': '0:0-0:0', ...","{'Tuesday': '11:0-21:0', 'Monday': '0:0-0:0', ...","{'Tuesday': '11:0-21:0', 'Monday': '0:0-0:0', ...","{'Tuesday': '11:0-21:0', 'Monday': '0:0-0:0', ...","{'Tuesday': '11:0-21:0', 'Monday': '0:0-0:0', ..."
businessAttrType,HasTV,Ambience,DogsAllowed,BusinessAcceptsCreditCards,RestaurantsTakeOut,BikeParking,RestaurantsReservations,Alcohol,OutdoorSeating,RestaurantsDelivery
businessAttrValue,False,"{'touristy': False, 'hipster': False, 'romanti...",True,True,True,True,False,u'none',True,False